body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #e4eef2;
    color: #333333;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 120;
}

.nav-wrap {
    width: 960px;
    height: 59px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
}

.nav-main {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 59px;
    float: left;
}

.nav-main>li {
    display: inline-block;
    float: left;
    padding: 17px 20px;
    font-size: 19px;
    color: #4fc5c7;
    cursor: pointer;
    position: relative;
}

.nav-main>li.logo{
    padding: 10px 20px 9px 20px;
}

.nav-main>li.logo>span {
    display: block;
    width: 90px;
    height: 40px;
    background-image: url("../images/icon.png");
    background-position: -30px -60px;
    background-repeat: no-repeat;
}

.nav-main>li.active{
    color: white;
    background: #4fc5c7;
}

.nav-main>li:hover {
    color:white;
    background: #4fc5c7;
}

.nav-main>li:hover > ul.type1 {
    height: 123px;
}

.nav-main>li:hover > ul.type2 {
    height: 82px;
}

.nav-main>li[class = 'logo'] {
    cursor: inherit;
}

.nav-main>li[class = 'logo']:hover {
    background: #ffffff;
}

.nav-main-child {
    /*display: none;*/
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    padding-top: 5px;
    overflow: hidden;
}

.nav-main-child li {
    text-align: center;
    padding: 8px 0;
    color: #3fd0ff;
    background-color: #d1f4ff;
}

.nav-main-child li:hover {
    background-color: #3fd0ff;
    color: #fff;
}

.logo img {
    vertical-align: middle;
}

.welcome {
    float: right;
    margin-right: 15px;
    line-height: 59px;
}

.welcome span {
    color: #4fc5c7;
}

.welcome span:nth-child(2) {
    cursor: pointer;
}

.welcome span:nth-child(2):hover {
    text-decoration: underline;
}

header {
    position: relative;
    min-width: 250px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    z-index: 100;
}

.bg{
    display: block;
    height: 245px;
    width: 100%;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

.info-b {
    width: 960px;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 120;
}

.info-b > span{
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    background-image: url("../images/icon.png");
    background-position: -30px 0;
    background-repeat: no-repeat;
    /*background-size: 100px;*/
    float: right;
}

.info-btn:after {content: ''; clear: both;}

.info-btn:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    right: 15px;
    top: 15px;
}

.info-tip {
    display: none;
    float: right;
    width: 160px;
    -webkit-box-shadow: 0 0 6px 1px #ddd;
    -ms-box-shadow: 0 0 6px 1px #ddd;
    -o-box-shadow: 0 0 6px 1px #ddd;
    -moz-box-shadow: 0 0 6px 1px #ddd;
    box-shadow: 0 0 6px 1px #ddd;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    right: 80px;
}

.info-tip > div {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -5px;
    border-left: 10px solid #ddd;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.info-tip > div:after {
    content: " ";
    display: block;
    position: absolute;
    left: -11px;
    top: -4px;
    border-left: 8px solid #fff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.info-tip ul li {
    display: block;
    color: #337AB7;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.info-tip ul li:hover {
    background-color: #ddd;
}

.info-tip ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.info-tip ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.info-tip span {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    color: #ffffff;
    background-color: #777777;
    border-radius: 10px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    float: right;
}

.main-content {
    width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 10px auto;
    overflow: hidden;
    background-color: #e4eef2;
    zoom: 1;
}

.content, .left-nav {
    float: left;
}

.left-nav {
    width: 150px;
}

.l-menu {
    color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d1f4ff;
    background-color: #3fd0ff;
    cursor: pointer;
    position: relative;
}

.l-menu span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.man {
    background-position: 0 0;
}

.work {
    background-position: 0 -30px;
}

.l-menu span.bn-slide {
    width: 30px;
    background-position: 0 -60px;
    position: absolute;
    right: 0;
}

.l-menu + ul li {
    color: #3fd0ff;
    padding: 8px;
    text-align: center;
    background-color: #d1f4ff;
    border-bottom: 1px solid #d1f4ff;
    cursor: pointer;
}

.l-menu + ul li:hover {
    color: #ffffff;
    background-color: #3fd0ff;
}

.l-menu + ul li.l-active {
    color: white;
    background-color: #3fd0ff;
    position: relative;
}

.l-menu + ul li.l-active:after {
    content: '';
    border-left: 16px solid #3fd0ff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -16px;
}

.content {
    width: 760px;
    min-height: 289px; /* 防止底部栏上移 */
    background-color: white;
    padding: 20px 20px 20px 30px;
    position: relative;
    overflow: hidden;
}

.content:after {
    clear: both;
}

footer {
    background-color: #2b5464;
}

.line {
    height: 10px;
    background-color: #4fc5c7;
}

.site-footer {
    width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.site-info{
    padding-bottom: 10px;
}

.site-info span {
    margin: 0 8px;
}

.copyright span {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 3px;
}

/*--------------content------------------------*/

/*personal*/

.personal-info {
    float: left;
}

.p-name {
    font-size: 16px;
    line-height: 40px;
    color: #001546;
}

.p-name label {
    display: inline-block;
    margin-right: 20px;
}

.p-name label:first-child {
    text-align: right;
    width: 70px;
}

.p-name > input {
    border: none;
    /*border-bottom: 1px solid #BABABA;*/
    /*border: 1px solid #BABABA;*/
    width: 200px;
    color: #001546;
    padding: 4px 6px;
    background-color: #FFF;
    font-size: 16px;
    outline: 0 none;
}

.p-name > input:focus {

}

.personal-img {
    float: right;
    margin-right: 20px;
}

.personal-img:after {
    clear: both;
}

/*设置中心css*/

.setting-wrap {
    overflow: hidden;
    zoom: 1;
}

.set-changepw, .set-mail {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
}

.pw-info, .mail-info {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto 15px auto;
    width: 300px;
}

.set-changepw-btn, .set-mail-btn {
    width: 300px;
    text-align: right;
}

.set-changepw-btn>button, .set-mail-btn>button {
    color: white;
    border: 1px solid #46b8da;
    background-color: #5bc0de;
    padding: 8px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.set-changepw-btn>button:hover, .set-mail-btn>button:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

.set-changepw-submit, .set-mail-submit {
    position: relative;
    overflow: hidden;
}

.set-changepw-submit>div>input, .set-mail-submit>div>input {
    border: 1px #bababa solid;
    padding: 5px;
    width: 180px;
    font-size: 16px;
    outline: 0;
}

.set-changepw-submit>div>input:focus, .set-mail-submit>div>input:focus {
    border-color: #009ee5;
}

.set-changepw-submit>div>label, .set-mail-submit>div>label {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

.set-changepw-old, .set-changepw-new, .set-changepw-sure,
.set-mail-new, .set-mail-sure {
    margin-bottom: 15px;
}

.set-changepw-submit>button, .set-mail-submit>button {
    width: 80px;
    color: white;
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.set-changepw-submit>button:hover, .set-mail-submit>button:hover {
    background-color: #449d44;
    border-color: #398439;
}

.mail-state {
    position: relative;
}

.mail-switch-wrap {
    width: 100px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: absolute;
    top: -20px;
}

.mail-state-btn {
    height: 26px;
    line-height: 26px;
    width: 151px;
}

.mail-state-btn span {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.mail-state-btn label {
    display: inline-block;
    height: 26px;
    width: 50px;
    margin-right: 0;
    margin-left: -4px;
    margin-bottom: -8px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    cursor: pointer;
}

.mail-state-btn input {
    display: none;
}

.mail-switch-on {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #58B058;
    background-image: linear-gradient(to bottom, #51A351, #62C462);
}

.mail-switch-off {
    margin-left: -4px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F9A123;
    background-image: linear-gradient(to bottom, #F89406, #FBB450);
}

.fold-changepw, .fold-mail {
    position: relative;
    top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #337AB7;
}

.fold-changepw:hover, .fold-mail:hover {
    text-decoration: underline;
}

/*hwinfo*/

.hw-content-wrap {
    /*position: absolute;*/
    width: 24300px;
    overflow: hidden;
}

.hw-content-wrap>section {
    float: left;
    width: 760px;
    margin-right: 20px;
    margin-left: 30px;
}

.hw-list-nav {
    width: 100%;
    background-color: #d1f4ff;
    line-height: 32px;
}

/*作业信息样式*/

.course-choice {
    overflow: hidden;
    border-bottom: 1px #EEEEEE solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.course-choice>div {
    float: left;
    line-height: 40px;
}

.choice-year {
    margin-left: 20px;
}
.choice-year, .choice-term {
    width: 230px;
}

.choice-sure {
    width: 100px;
}

.choice-year p, .choice-term p {
    display: inline-block;
    margin-right: 10px;
}

.choice-year select, .choice-term select{
    border: 1px solid #BABABA;
    width: 150px;
    padding: 4px;
    background-color: #FFF;
    outline: 0 none;
    margin-right: 32px;
    min-height: 28px;
    position: relative;
}

.choice-year select:focus, .choice-term select:focus {
    border-color: #009ee5;
}

.choice-sure button {
    background-color: #5cb85c;
    border: 1px #4cae4c solid;
    min-width: 90px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.choice-sure button:hover {
    background-color: #449d44;
    border-color: #398439;
}

.course-list ul, .work-list ul, .student-list ul {
    padding-top: 3px;
    overflow: hidden;
    zoom: 1;
}

.course-list ul li, .work-list ul li, .student-list ul li {
    float: left;
    width: 232px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/*.course-list ul li:hover, .work-list ul li:hover {*/
    /*outline: 3px #ccc solid;*/
/*}*/

.course-list ul li:hover>.work-list-btn,
.work-list ul li:hover>.student-list-btn,
.student-list ul li:hover>.alter-btn,
.work-list ul li:hover>.hand-in-work {
    top: 0;
}

.course-list ul li:nth-child(3n-1),
.work-list ul li:nth-child(3n-1),
.student-list ul li:nth-child(3n-1) {
    margin-right: 15px;
    margin-left: 15px;
}

.course-list ul li:nth-child(3n-2),
.student-list ul li:nth-child(3n-2),
.work-list ul li:nth-child(3n-2) {
    margin-left: 5px;
}

.course-list ul li:nth-child(3n),
.student-list ul li:nth-child(3n),
.work-list ul li:nth-child(3n) {
    margin-right: 5px;
}

.course-list ul li:last-child,
.student-list ul li:last-child,
.work-list ul li:last-child {
    clear: right;
}

.course-work-list,
.work-student-list,
.student-alter-list {
    border-style: solid;
    border-width: 4px;
}

.course-work-list:before,
.student-alter-list:before,
.work-student-list:before {
    content: '';
    display: block;
    border-left: 35px transparent solid;
    position: absolute;
    right: 0;
    top: 0;
}

.course-no-work:after,
.student-no-alter:after,
.work-no-student:after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border-bottom: 4px #fff solid;
    border-right: 4px #fff solid;
    position: absolute;
    top: 1px;
    right: 6px;
    transform: rotate(45deg);
}

.course-has-work:after,
.student-has-alter:after,
.work-has-student:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 4px #fff solid;
    position: absolute;
    top: 2px;
    right: 2px;
}

.course-no-work,
.student-no-alter,
.work-no-student {
    border-color: #5CB85C;
}

.course-no-work:before,
.student-no-alter:before,
.work-no-student:before {
    border-top: 35px #5CB85C solid;
}

.course-has-work,
.student-has-alter,
.work-has-student {
    border-color: #f0ad4e;
}

.course-has-work:before,
.student-has-alter:before,
.work-has-student:before {
    border-top: 35px #f0ad4e solid;
}

.course-work-list>div:first-child,
.student-alter-list>div:first-child,
.work-student-list>div:first-child {
    padding: 10px;
    line-height: 24px;
}

.course-work-list>div:last-child,
.student-alter-list>div:last-child,
.work-student-list>div:last-child {
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    line-height: 70px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.course-no-work>div:last-child,
.student-no-alter>div:last-child,
.work-no-student>div:last-child {
    background-color: #5CB85C;
}

.course-has-work>div:last-child,
.student-has-alter>div:last-child,
.work-has-student>div:last-child {
    background-color: #f0ad4e;
}

/*end 作业信息样式*/

/*弹出上传框*/

.hand-in-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    z-index: 200;
}

.hand-in-area {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    padding: 10px 30px 20px;
    overflow: hidden;
}

span.work-submit-clear {
    display: block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    right: -30px;
    top: -30px;
    background-color: #D9534F;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

span.work-submit-clear:hover {
    background-color: #D43F3A;
}

span.work-submit-clear:after {
    content: 'X';
    font-size: 20px;
    color: white;
    position: absolute;
    left: 12px;
    bottom: 7px;
    z-index: 1;
    cursor: pointer;
}

.hand-in-title {
    line-height: 30px;
    border-bottom: 1px solid #333;
}

.hand-in-body {
    line-height: 25px;
}

.hand-in-body>div>label:first-child {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-weight: bold;
}

.hand-in-desc {
    overflow: hidden;
    zoom: 1;
}

.hand-in-desc>label:last-child {
    color: #337AB7;
    font-weight: bold;
}

.hand-in-desc>label:nth-child(2) {
    float: right;
    width: 380px;
}

.hand-in-deadline>label:last-child {
    color: #C7254E;
}

.hand-in-create>label:last-child {
    color: #3C763D;
}

.work-upload {
    padding: 15px;
}

.work-upload>label:first-child {
    color: #fff;
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
    text-align: center !important;
    cursor: pointer;
}

.work-upload>label:first-child:hover {
    background-color: #449d44;
}

.work-upload>input {
    display: none;
}

.work-submit {
    border-top: 1px solid #333;
    padding-top: 15px;
    text-align: right;
}

.work-submit>button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
}

.work-submit>button:first-child {
    background-color: #D9534F;
    border: 1px solid #D43F3A;
    margin-right: 20px;
}

.work-submit>button:first-child:hover {
    background-color: #D43F3A;
}

.work-submit>button:nth-child(2) {
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
}

.work-submit>button:nth-child(2):hover {
    background-color: #449d44;
}

/*end 弹出上传框*/

/*作业信息切换栏目*/

.return-course-list, .return-work-list {
    height: 34px;
    position: relative;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
}

.return-course-btn, .return-work-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #5CB85C;
    position: relative;
    cursor: pointer;
}

.return-course-btn1 {
    float: left;
    width: 165px;
    z-index: 10;
}

.return-course-btn:before, .return-work-btn:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    border: 3px solid #5CB85C;
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 6px;
    left: 5px;
}

.return-course-btn:after, .return-work-btn:after {
    content: '';
    height: 4px;
    width: 16px;
    display: block;
    background-color: #5CB85C;
    position: absolute;
    top: 11px;
    left: 5px;
}

.return-course-btn:hover, .return-work-btn:hover {
    border-color: #449d44;
}

.return-course-btn:hover:after, .return-work-btn:hover:after {
    background-color: #449d44;
}

.return-course-btn:hover:before, .return-work-btn:hover:before {
    border-color: #449d44;
}

.return-course-list>span:last-child, .return-work-list>span:last-child {
    margin-left: 10px;
    display: inline-block;
    line-height: 34px;
    position: absolute;
    font-size: 18px;
}