body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #e4eef2;
    color: #333333;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 120;
}

.nav-wrap {
    width: 960px;
    height: 59px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
}

.nav-main {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 59px;
    float: left;
}

.nav-main>li {
    display: inline-block;
    float: left;
    padding: 17px 20px;
    font-size: 19px;
    color: #4fc5c7;
    cursor: pointer;
    position: relative;
}

.nav-main>li.logo{
    padding: 10px 20px 9px 20px;
}

.nav-main>li.logo>span {
    display: block;
    width: 90px;
    height: 40px;
    background-image: url("../images/icon.png");
    background-position: -30px -60px;
    background-repeat: no-repeat;
}

.nav-main>li.active{
    color: white;
    background: #4fc5c7;
}

.nav-main>li:hover {
    color:white;
    background: #4fc5c7;
}

.nav-main>li:hover > ul.type1 {
    height: 123px;
}

.nav-main>li:hover > ul.type2 {
    height: 82px;
}

.nav-main>li[class = 'logo'] {
    cursor: inherit;
}

.nav-main>li[class = 'logo']:hover {
    background: #ffffff;
}

.nav-main-child {
    /*display: none;*/
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    overflow: hidden;
}

.nav-main-child li {
    text-align: center;
    padding: 8px 0;
    color: #3fd0ff;
    background-color: #d1f4ff;
}

.nav-main-child li:hover {
    background-color: #3fd0ff;
    color: #fff;
}

.logo img {
    vertical-align: middle;
}

.welcome {
    float: right;
    margin-right: 15px;
    line-height: 59px;
}

.welcome span {
    color: #4fc5c7;
}

.welcome span:nth-child(2) {
    cursor: pointer;
}

.welcome span:nth-child(2):hover {
    text-decoration: underline;
}

header {
    position: relative;
    min-width: 250px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    z-index: 100;
}

.bg{
    display: block;
    height: 245px;
    width: 100%;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

.info-b {
    width: 960px;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 120;
}

.info-b > span{
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    background-image: url("../images/icon.png");
    background-position: -30px 0;
    background-repeat: no-repeat;
    /*background-size: 100px;*/
    float: right;
}

.info-btn:after {content: ''; clear: both;}

.info-btn:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    right: 15px;
    top: 15px;
}

.info-tip {
    display: none;
    float: right;
    width: 160px;
    -webkit-box-shadow: 0 0 6px 1px #ddd;
    -ms-box-shadow: 0 0 6px 1px #ddd;
    -o-box-shadow: 0 0 6px 1px #ddd;
    -moz-box-shadow: 0 0 6px 1px #ddd;
    box-shadow: 0 0 6px 1px #ddd;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    right: 80px;
}

.info-tip > div {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -5px;
    border-left: 10px solid #ddd;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.info-tip > div:after {
    content: " ";
    display: block;
    position: absolute;
    left: -11px;
    top: -4px;
    border-left: 8px solid #fff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.info-tip ul li {
    display: block;
    color: #337AB7;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.info-tip ul li:hover {
    background-color: #ddd;
}

.info-tip ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.info-tip ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.info-tip span {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    color: #ffffff;
    background-color: #777777;
    border-radius: 10px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    float: right;
}

.main-content {
    width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 10px auto;
    overflow: hidden;
    background-color: #e4eef2;
    zoom: 1;
}

/*左侧菜单栏*/

.content, .left-nav {
    float: left;
}

.left-nav {
    width: 150px;
}

.l-menu {
    color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d1f4ff;
    background-color: #4fc5c7;
    cursor: pointer;
    position: relative;
}

/*.l-menu span {*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*background-image: url("../images/icon.png");*/
    /*background-repeat: no-repeat;*/
    /*vertical-align: middle;*/
/*}*/

.man {
    background-position: 0 0;
}

.work {
    background-position: 0 -30px;
}

/*.l-menu span.bn-slide {*/
    /*width: 30px;*/
    /*background-position: 0 -60px;*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/

.bn-slide {
    display: block;
    border-left: 10px #fff solid;
    border-bottom: 8px transparent solid;
    border-top: 8px transparent solid;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

.l-menu + ul li {
    color: #3fd0ff;
    padding: 8px;
    text-align: center;
    background-color: #d1f4ff;
    border-bottom: 1px solid #d1f4ff;
    cursor: pointer;
}

.l-menu + ul li:hover {
    color: #ffffff;
    background-color: #3fd0ff;
}

.l-menu + ul li.l-active {
    color: white;
    background-color: #3fd0ff;
    position: relative;
}

.l-menu + ul li.l-active:after {
    content: '';
    border-right: 10px solid #FFFFFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

/*end 左侧菜单栏*/

.content {
    width: 760px;
    min-height: 289px; /* 防止底部栏上移 */
    background-color: white;
    padding: 20px 20px 20px 30px;
    position: relative;
    overflow: hidden;
}

.content:after {
    clear: both;
}

footer {
    background-color: #2b5464;
}

.line {
    height: 10px;
    background-color: #4fc5c7;
}

.site-footer {
    width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.site-info{
    padding-bottom: 10px;
}

.site-info span {
    margin: 0 8px;
}

.copyright span {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 3px;
}

/*--------------content------------------------*/

/*personal*/

.personal-info {
    float: left;
}

.p-name {
    font-size: 16px;
    line-height: 40px;
    color: #001546;
}

.p-name label {
    display: inline-block;
    margin-right: 20px;
}

.p-name label:first-child {
    text-align: right;
    width: 70px;
}

.p-name > input {
    border: none;
    /*border-bottom: 1px solid #BABABA;*/
    /*border: 1px solid #BABABA;*/
    width: 200px;
    color: #001546;
    padding: 4px 6px;
    background-color: #FFF;
    font-size: 16px;
    outline: 0 none;
}

.p-name > input:focus {

}

.personal-img {
    float: right;
    margin-right: 20px;
}

.personal-img:after {
    clear: both;
}

/*设置中心css*/

.setting-wrap {
    overflow: hidden;
    zoom: 1;
}

.set-changepw, .set-mail {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
}

.pw-info, .mail-info {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto 15px auto;
    width: 300px;
}

.set-changepw-btn, .set-mail-btn {
    width: 300px;
    text-align: right;
}

.set-changepw-btn>button, .set-mail-btn>button {
    color: white;
    border: 1px solid #46b8da;
    background-color: #5bc0de;
    padding: 8px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.set-changepw-btn>button:hover, .set-mail-btn>button:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

.set-changepw-submit, .set-mail-submit {
    position: relative;
    overflow: hidden;
}

.set-changepw-submit>div>input, .set-mail-submit>div>input,
.add-work-name>input, .add-work-deadline>input, .add-work-desc>textarea,
.add-work-marktype>select, .auth-code>input,
.cs-mail-input1, .cs-mail-input2, .add-stu-choice>input, .add-stu-choice>select{
    border: 1px #bababa solid;
    padding: 5px;
    width: 180px;
    font-size: 16px;
    outline: 0;
}

.set-changepw-submit>div>input:focus, .set-mail-submit>div>input:focus,
.add-work-name>input:focus, .add-work-deadline>input:focus, .add-work-desc>textarea:focus,
.add-work-marktype>select:focus, .auth-code>input:focus,
.cs-mail-input1:focus, .cs-mail-input2:focus, .add-stu-choice>input:focus, .add-stu-choice>select:hover {
    border-color: #009ee5;
    outline: none;
}

.set-changepw-submit>div>label, .set-mail-submit>div>label {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

.set-changepw-old, .set-changepw-new, .set-changepw-sure,
.set-mail-new, .set-mail-sure {
    margin-bottom: 15px;
}

.set-changepw-submit>button, .set-mail-submit>button,
.cs-mail-sure, .add-student-search, .add-student-sure {
    width: 80px;
    color: white;
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.set-changepw-submit>button:hover, .set-mail-submit>button:hover,
.cs-mail-sure:hover, .add-student-search:hover, .add-student-sure:hover {
    background-color: #449d44;
    border-color: #398439;
}

.mail-state {
    position: relative;
}

.mail-switch-wrap {
    width: 100px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: absolute;
    top: -20px;
}

.mail-state-btn {
    height: 26px;
    line-height: 26px;
    width: 151px;
}

.mail-state-btn span {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.mail-state-btn label {
    display: inline-block;
    height: 26px;
    width: 50px;
    margin-right: 0;
    margin-left: -4px;
    margin-bottom: -8px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    cursor: pointer;
}

.mail-state-btn input {
    display: none;
}

.mail-switch-on {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #58B058;
    background-image: linear-gradient(to bottom, #51A351, #62C462);
}

.mail-switch-off {
    margin-left: -4px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F9A123;
    background-image: linear-gradient(to bottom, #F89406, #FBB450);
}

.fold-changepw, .fold-mail {
    position: relative;
    top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #337AB7;
}

.fold-changepw:hover, .fold-mail:hover {
    text-decoration: underline;
}

/*hwinfo*/

.hw-content-wrap {
    /*position: absolute;*/
    width: 24300px;
    overflow: hidden;
}

.hw-content-wrap>section {
    float: left;
    width: 760px;
    margin-right: 20px;
    margin-left: 30px;
    position: relative;
}

.hw-list-nav {
    width: 100%;
    background-color: #d1f4ff;
    line-height: 32px;
}

/*作业信息样式*/

.course-choice {
    overflow: hidden;
    /*border-bottom: 1px #EEEEEE solid;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
}

.course-choice>div {
    float: left;
    line-height: 40px;
}

.choice-year {
    margin-left: 20px;
}
.choice-year, .choice-term {
    width: 230px;
}

/*.choice-sure {*/
    /*width: 100px;*/
/*}*/

.choice-year p, .choice-term p {
    display: inline-block;
    margin-right: 10px;
}

.choice-year select, .choice-term select{
    border: 1px solid #BABABA;
    width: 150px;
    padding: 4px;
    background-color: #FFF;
    outline: 0 none;
    margin-right: 32px;
    min-height: 28px;
    position: relative;
}

.choice-year select:focus, .choice-term select:focus {
    border-color: #009ee5;
}

.choice-sure button, .add-work, .add-student {
    background-color: #5cb85c;
    border: 1px #4cae4c solid;
    min-width: 90px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.choice-sure button:hover, .add-work:hover, .add-student:hover {
    background-color: #449d44;
    border-color: #398439;
}

.course-list ul, .work-list ul, .student-list ul, .d-newestwork-list ul {
    padding-top: 3px;
    overflow: hidden;
    zoom: 1;
}

.course-list ul li, .work-list ul li, .student-list ul li, .d-newestwork-list ul li {
    float: left;
    width: 232px;
    margin-bottom: 10px;
    position: relative;
    /*cursor: pointer;*/
    overflow: hidden;
}

/*.course-list ul li:hover, .work-list ul li:hover {*/
    /*outline: 3px #ccc solid;*/
/*}*/

.course-list ul li:hover>.work-list-btn,
.course-list ul li:hover>.stumanage-list-btn,
.work-list ul li:hover>.student-list-btn,
.work-list ul li:hover>.hand-in-work,
.student-list ul li:hover>.alter-btn,
.student-list ul li:hover>.check-btn,
.d-newestwork-list ul li:hover>.hand-in-work,
.d-newestwork-list ul li:hover>.student-list-btn,
.student-list-wrap ul li:hover>.student-list-btn {
    top: 0;
}

.work-list-btn>span,
.stumanage-list-btn>span,
.student-list-btn>span,
.hand-in-work>span,
.alter-btn>span,
.check-btn>span,
.hand-in-work>span,
.student-list-btn>span,
.student-list-btn>span {
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.course-list ul li:nth-child(3n-1),
.work-list ul li:nth-child(3n-1),
.d-newestwork-list ul li:nth-child(3n-1),
.student-list ul li:nth-child(3n-1) {
    margin-right: 15px;
    margin-left: 15px;
}

.course-list ul li:nth-child(3n-2),
.d-newestwork-list ul li:nth-child(3n-2),
.student-list ul li:nth-child(3n-2),
.work-list ul li:nth-child(3n-2) {
    margin-left: 5px;
}

.course-list ul li:nth-child(3n),
.d-newestwork-list ul li:nth-child(3n),
.student-list ul li:nth-child(3n),
.work-list ul li:nth-child(3n) {
    margin-right: 5px;
}

.course-list ul li:last-child,
.d-newestwork-list ul li:last-child,
.student-list ul li:last-child,
.work-list ul li:last-child {
    clear: right;
}

.course-work-list,
.work-student-list,
.student-alter-list {
    border-style: solid;
    border-width: 4px;
}

.course-work-list:before,
.student-alter-list:before,
.work-student-list:before,
.add-stu-list>ul>li.stu-choiced:before {
    content: '';
    display: block;
    border-left: 35px transparent solid;
    position: absolute;
    right: 0;
    top: 0;
}

.course-no-work:after,
.student-no-alter:after,
.work-remark-student:after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border-bottom: 4px #fff solid;
    border-right: 4px #fff solid;
    position: absolute;
    top: 1px;
    right: 6px;
    transform: rotate(45deg);
}

.course-has-work:after,
.student-has-alter:after,
.work-unhand-student:after,
.work-hand-student:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 4px #fff solid;
    position: absolute;
    top: 2px;
    right: 2px;
}

.work-hand-student:after {
    background-color: #fff;
}

.course-no-work,
.student-no-alter,
.work-remark-student {
    border-color: #5CB85C;
}

li.work-overtime-student {
    border-color: #bbb;
}

.course-no-work:before,
.student-no-alter:before,
.work-remark-student:before {
    border-top: 35px #5CB85C solid;
}

li.work-overtime-student:before {
    border-top: 35px #bbb solid;
}

.course-has-work:before,
.student-has-alter:before,
.work-unhand-student:before {
    border-top: 35px #f0ad4e solid;
}

.work-hand-student:before {
    border-top:  35px #5BC0DE solid;
}

.course-has-work,
.student-has-alter,
.work-unhand-student {
    border-color: #f0ad4e;
}

.work-hand-student {
    border-color: #5BC0DE;
}

.course-work-list>div:first-child,
.student-alter-list>div:first-child,
.work-student-list>div:first-child {
    padding: 10px;
    line-height: 24px;
}

.course-work-list>div:last-child,
.student-alter-list>div:last-child,
.work-student-list>div:last-child {
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    /*line-height: 70px;*/
    text-align: center;
    color: #fff;
    z-index: 1;
}

.course-no-work>div:last-child,
.student-no-alter>div:last-child,
.work-remark-student>div:last-child {
    background-color: #5CB85C;
}

.course-has-work>div:last-child,
.student-has-alter>div:last-child,
.work-unhand-student>div:last-child {
    background-color: #f0ad4e;
}

.work-hand-student>div:last-child {
    background-color: #5BC0DE;
}

li.work-overtime-student>div:last-child {
    background-color: #bbb;
}

.student-list-btn>button {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}

.student-list-btn>.student-list-mark-btn {
    left: 50%;
    margin-left: -100px !important;
}

.student-list-btn>.student-list-delete-btn {
    right: 50%;
    margin-right: -100px !important;
}

.course-list-wrap {
    position: relative;
    min-height: 200px;
}

/*end作业信息*/

/*进度显示*/

.hand-in-progress {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #f0ad4e;
    text-align: center;
    color: #fff;
}

/*end 作业信息样式*/

/*弹出框共有样式*/

.shade-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    z-index: 200;
}

.dailog-area {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    padding: 10px 30px 20px;
    /*overflow: hidden;*/
}

span.dailog-clear {
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -20px;
    border-bottom-left-radius: 100%;
    cursor: pointer;
}

span.dailog-clear:before {
    display: block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    /*position: absolute;*/
    /*right: -50px;*/
    /*top: -30px;*/
    background-color: #D9534F;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

span.dailog-clear:hover {
    background-color: #D43F3A;
}

span.dailog-clear:after {
    content: 'X';
    font-size: 20px;
    color: white;
    position: absolute;
    left: 12px;
    bottom: 7px;
    z-index: 1;
    cursor: pointer;
}

.dailog-title {
    line-height: 30px;
    border-bottom: 1px solid #333;
}

.dailog-body {
    line-height: 25px;
}

.dailog-body>div>label:first-child{
    display: inline-block;
    /*width: 120px;*/
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}

/*end弹出框共有样式*/

/*弹出上传框*/

.hand-in-dailog-body {
    margin-top: 10px;
}

.hand-in-desc {
    overflow: hidden;
    zoom: 1;
}

.hand-in-desc>label:last-child {
    color: #337AB7;
    font-weight: bold;
}

.hand-in-desc>label:nth-child(2) {
    float: right;
    width: 370px;
}

.hand-in-deadline>label:last-child {
    color: #C7254E;
}

.hand-in-create>label:last-child {
    color: #3C763D;
}

.work-upload {
    padding: 15px;
}

.work-upload>label:first-child {
    color: #fff;
    padding: 2px 8px;
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
    text-align: center !important;
    cursor: pointer;
}

.work-upload>label:first-child:hover {
    background-color: #449d44;
}

.work-upload>input {
    display: none;
}

.work-submit, .add-submit {
    border-top: 1px solid #333;
    padding-top: 15px;
    text-align: right;
}

.work-submit>button, .add-submit>button, .student-list-btn>button,
.delete-sure-btn>button, .auth-code-sure-btn>button, .auth-code>button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
}

.dailog-clear, .student-list-btn>.student-list-delete-btn,
.delete-sure-btn>.delete-sure-btn1, .auth-code-sure-btn>.auth-code-sure-btn1 {
    background-color: #D9534F;
    border: 1px solid #D43F3A;
    margin-right: 20px;
}

.dailog-clear:hover, .student-list-btn>.student-list-delete-btn:hover,
.delete-sure-btn>.delete-sure-btn1:hover, .auth-code-sure-btn>.auth-code-sure-btn1:hover {
    background-color: #D43F3A;
}

.work-submit-sure, .add-work-sure,
.student-list-btn>.student-list-mark-btn,
.delete-sure-btn>.delete-sure-btn2,
.auth-code-sure-btn>.auth-code-sure-btn2,
.auth-code>.auth-code-resend-btn {
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
}

.work-submit-sure:hover, .add-work-sure:hover,
.student-list-btn>.student-list-mark-btn:hover,
.delete-sure-btn>.delete-sure-btn2:hover,
.auth-code-sure-btn>.auth-code-sure-btn2:hover,
.auth-code>.auth-code-resend-btn:hover {
    background-color: #449d44;
}

/*end 弹出上传框*/

/*弹出新增作业*/

.add-work-dailog-body {
    line-height: 30px;
    margin-top: 5px;
}

.add-work-dailog-body>div>label {
    width: 120px;
}

.add-work-dailog-body>div {
    margin-bottom: 10px;
}

.add-work-dailog-body input, .add-work-dailog-body textarea {
    width: 300px;
}

.add-work-dailog-body select {
    width: 312px;
}

.add-work-course>p {
    display: inline-block;
}

.add-work-desc {

}

.add-work-desc textarea {
    margin-left: 5px;
    height: 120px;
}

.add-work-desc>label:first-child {
    float: left;
}

.add-work-deadline {

}

.add-work, .add-student {
    position: absolute;
    top: -45px;
    right: 0;
    height: 30px;
    z-index: 10;
}

.work-list-wrap {
    position: relative;
}

/*end弹出新增作业*/

/*弹出教师新增学生框*/

.add-stu-choice {
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    position: relative;
}

.add-stu-choice>label {

}

.add-stu-choice>select.campus-choice {
    width: 100px;
    margin-right: 10px;
}

.add-stu-choice>input, .add-stu-choice>select.college-choice {
    width: 120px;
    margin-right: 10px;
}

.stu-search-result {
    line-height: 40px;
    font-weight: bold;
}

.add-student-search, .add-student-sure {
    position: absolute;
    right: 0;
    top: 50%;
    width: auto;
    font-weight: bold;
    font-size: 16px;
    padding: 0 8px;
    margin-top: -16px;
    line-height: 30px;
}

.add-student-pre, .add-student-next,
.d-newestwork-title>button, .d-unhand-title>button, .d-feedback-title>button {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #5A7AC3;
    line-height: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

.add-student-pre {
    right: 70px;
}

.add-student-next {
    right: 0;
}

.add-student-sure {
    right: 150px;
}

.add-student-pre:hover, .add-student-next:hover,
.d-newestwork-title>button:hover, .d-unhand-title>button:hover, .d-feedback-title>button:hover {
    background-color: #eee;
}

.add-stu-list, .add-stu-list>ul {
    position: relative;
    display: table;
    /*overflow: hidden;*/
    /*zoom: 1;*/
}

.add-stu-list>ul>li {
    /*float: left;*/
    display: inline-block;
    width: 110px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 5px #D9EDF7 solid;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.add-stu-list>ul>li:hover {
    border-color: #41B8F4;
}


.add-stu-list>ul>li:hover:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 35px #41B8F4 solid;
    border-left: 35px transparent solid;
}

.add-stu-list>ul>li:hover>span {
    display: block;
    width: 16px;
    height: 4px;
    position: absolute;
    top: 7px;
    right: 2px;
    background-color: #FFFFFF;
    z-index: 100;
}

.add-stu-list>ul>li:hover>span:before {
    content: '';
    display: block;
    width: 4px;
    height: 16px;
    position: absolute;
    top: -6px;
    right: 6px;
    background-color: #fff;
}

.add-stu-list>ul>li.stu-choiced {
    border-color: #41B8F4;
}

.add-stu-list>ul>li.stu-choiced:before {
    border-top: 35px #41B8F4 solid;
}

.add-stu-list>ul>li.stu-choiced:after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border-bottom: 4px #fff solid;
    border-right: 4px #fff solid;
    position: absolute;
    top: 1px;
    right: 6px;
    transform: rotate(45deg);
}

.add-stu-list>ul>li.stu-choiced:hover:after {
    display: none;
}

.add-stu-list>ul>li.stu-choiced:hover>span:before {
    display: none;
}

.add-stu-list>ul>li.stu-choiced:hover>span {
    background-color: #fff;
}

.add-stu-list>ul>li.stu-choiced:hover {
    border-color: #f0ad4e;
}

.add-stu-list>ul>li.stu-choiced:hover:before {
    border-top-color: #f0ad4e;
}

.stu-list-li-details {
    display: none;
    position: absolute;
    top: 0;
    left: -274px;
    background-color: #fff;
    padding: 5px;
    border: 5px #41B8F4 solid;
}

.add-stu-list>ul>li:nth-child:hover + .stu-list-li-details {
    display: block;
}

.add-student-area {
    width: 750px;
    top: 10%;
}

.add-student-page {
    position: relative;
    height: 40px;
    display: none;
}

/*end弹出教师新增学生框*/

/*弹出删除提示框*/

.delete-sure-text, .auth-code-sure-text {
    /*height: 40px;*/
    line-height: 40px;
    text-indent: 30px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
}

.delete-sure-text>span {
    color: #D9534F;
}

.auth-code-send-btn {
    background-color: #95D195;
    border: 1px #8BCA8B solid;
    cursor: default;
}

.auth-code-send-btn:focus {
    outline: none;
}

.delete-sure-btn, .auth-code-sure-btn {
    text-align: right;
}
.delete-sure-btn>.delete-sure-btn1, .auth-code-sure-btn>.auth-code-sure-btn1 {
    margin-right: 10px;
}

/*end弹出删除提示框*/

/*弹出验证码框*/

.auth-code {

}

.auth-code>label{
    font-weight: bold;
    margin-right: 10px;
}

.auth-code>input {
    width: 100px;
    margin-right: 10px;
}

/*end弹出验证码框*/

/*作业信息切换栏目*/



.return-course-list, .return-work-list {
    height: 34px;
    position: relative;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
}

.return-course-btn, .return-work-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #5CB85C;
    position: relative;
    cursor: pointer;
}

.return-course-btn1 {
    float: left;
    width: 165px;
    z-index: 10;
}

.return-course-btn:before, .return-work-btn:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    border: 3px solid #5CB85C;
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 6px;
    left: 5px;
}

.return-course-btn:after, .return-work-btn:after {
    content: '';
    height: 4px;
    width: 16px;
    display: block;
    background-color: #5CB85C;
    position: absolute;
    top: 11px;
    left: 5px;
}

.return-course-btn:hover, .return-work-btn:hover {
    border-color: #449d44;
}

.return-course-btn:hover:after, .return-work-btn:hover:after {
    background-color: #449d44;
}

.return-course-btn:hover:before, .return-work-btn:hover:before {
    border-color: #449d44;
}

.return-course-list>span:last-child, .return-work-list>span:last-child {
    margin-left: 10px;
    display: inline-block;
    line-height: 34px;
    position: absolute;
    font-size: 18px;
}

.return-course-text {
    position: absolute;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 2px;
}

/*end作业信息切换栏目*/

/*课程邮箱设置*/

.cs-mail-title, .course-list-title {
    position: relative;
    height: 40px;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.cs-mail-setting {
    position: absolute;
    left: 0;
    height: 40px;
    line-height: 40px;
    border: none;
}

.cs-mail-list>ul>li {
    border: 1px #eee solid;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.cs-mail-list>ul>li>div {
    display: inline-block;
    margin-left: 10px;
}

.cs-mail-green {
    border-left: 5px #AA6708 solid !important;
}


.cs-mail-name {

}

.cs-mail-name p {

}

.cs-mail-adr {

}

.cs-mail-adr p {

}

.cs-mail-input {
    display: inline-block;
}

.cs-mail-input1 {
    width: 180px;
}

.cs-mail-input2 {
    display: none;
    width: 100px;
}

.cs-mail-btn {
    position: absolute;
    /*right: 0;*/
    background-color: #eee;
}

.cs-mail-btn>button {

}

.cs-mail-change, .cs-mail-clear {
    height: 51px;
    outline: none;
    border: none;
    background-color: #F0AD4E;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cs-mail-clear {
    display: none;
}

.cs-mail-change {
    background-color: #5bc0de;
}

.cs-mail-sure {
    width: auto;
    margin-right: 10px;
}

.cs-mail-change:hover {
    background-color: #31b0d5;
}

.cs-mail-clear {
    background-color: #f0ad4e;
}

.cs-mail-clear:hover {
    background-color: #ec971f;
}

/*end课程邮箱设置*/

/*作业动态*/

.hw-dynamic>div>div:first-child {
    font-size: 18px;
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
    padding-bottom: 8px;
    position: relative;
}

.d-newestwork-title>button, .d-feedback-title>button, .d-unhand-title>button {
    position: absolute;
    top: 0;
    right: 0;
}

.d-newestwork-fold, .d-unhand-fold, .d-feedback-fold {
    display: none;
}

.d-newestwork-list, .d-unhand-list, .d-feedback-list {
}

/*end作业动态*/

/*日期选择器css*/

.zqc-calendar_back {
    position: absolute;
    top: 0;
    padding-top: 60%;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
}

#calendar {
    position: absolute;
    z-index: 1000;
    text-align: center;
}

#cldtoday {
    font-size: small;
    line-height: 35px;
}

#cldtoday:hover {
    cursor: pointer;
    color: white;
}

#clddays {
    padding-left: 10px;
    padding-right: 10px;
}

#clddays td:hover {
    background: #75afda;
    border-radius: 100% 100%;
    color: white;
    cursor: pointer;
}

#clddays table {
    width: 100%;
    background: white;
    color: #005da2;
    text-align: center;
    border-collapse: collapse;
}

#clddays table > tbody > tr:nth-child(1) > th {
    width: 12.3%;
    color: white;
    font-weight: bold;
    background: #005da2;
}

#clddays td, #cldtoday {
    height: 35px;
}

.today {
    background: #005da2;
    color: white;
    font-weight: bold;
    border-radius: 100% 100%;
}

#clddays td.today:hover {
    background: #005da2;
    /*cursor: none;*/
}

#cldtitle {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-left: 10px;
    background: #005da2;
    font-size: 20px;
}

#cldtitle .btn {
    padding: 0 5px;
    margin: 0 5px;
    color: white;
    font-weight: bold;
}

#cldtitle .btn:hover {
    cursor: pointer;
    color: #0099ff;
}

.month {
    color: white;
    cursor: pointer;
}

.over {
    color: gray;
}

.over:hover {
    background: none !important;
    border-radius: 0 !important;
    color: gray !important;
    cursor: default !important;
}

/*end 日期选择器css*/


/*.cs-mail-sure:after {*/
    /*content: '邮箱格式有误！';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: 10;*/
/*}*/